<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <%= image_tag(@idea.picture_url, width: '400px', height:'400px') if @idea.picture.present? %>

    <%= render 'comments/form' %>
  </div>

  <div class="col-md-6">
    <br>
    <br>
    <div id="divDesc">
    <p><b><h3>Character: </b>  <%= @idea.name %></h3></p><br>
    <p><b>Description: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', ideas_path %>
    </p>

    <h3>Comments</h3>
    <% @comments.each do |comment| %>
    <div>
      <strong><%= comment.user_name %></strong>
      <br />
      <p><%= comment.body %></p>
      <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <% end %>
  </div>

  </div>
</div>
